<html>
<head>
<title>Javascript Login Form Validation</title>
<!-- Include CSS File Here -->
<link rel="stylesheet" href="/stylesheets/home.css"/>
<!-- Include JS File Here -->
<script src="/javascripts/login.js"></script>
</head>

<body>
<div class="container">
<div class="main">
<h2>Compose Email</h2>
<!--<form id="form_id" method="post" name="myform"> -->
<form action="upload" method="post" enctype="multipart/form-data">
<label>Choose File :</label><br><br>
<input type="file" name="filetoupload"><br></br>
<input type="submit" id="submit" value="Upload file"/> 
</form>
</div>
</div>
</body>
</html>